<h2>Seja bem-vind@ {{ username }}</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab nisi quod
  eveniet veritatis numquam, quam, in fugit accusamus officiis sint eos
  voluptatum veniam dignissimos architecto at. Quos, impedit maxime.
</p>
